<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Big Droplet Energy</title>
	<link href="/css/index.css" rel="stylesheet" type="text/css">
	<link href="/css/font.css" rel="stylesheet" type="text/css">
	<link href="/css/errors.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon"/>

	<!-- bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	 crossorigin="anonymous"></script>

	<!-- chart.js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
	
</head>
<body>
	<div class="header">
		<ul class="header-list">
			<li><a href="/">home</a></li>
			<li class="divider">|</li>
			<li><a href="/data/technographics">technographics</a></li>
			<li class="divider">|</li>
			<li><a href="/data/errors">errors</a></li>
			<li class="divider">|</li>
			<li><a href="/data/performance">performance</a></li>
			<li class="divider">|</li>
			<li><a href="/user/profile">user profile</a></li>
		</ul>
	</div>
	<div class="main-content" >
                <div class="container">
                        <div class="row">
                                <div class="col-sm">
                                        <a href="/pdf/performance" target="_blank" class="btn btn-primary">Download PDF!</a>
                                </div>
                        </div>
                </div>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div class="card">               

                                                <h2>Image 1</h2>
                                                
                                                <p hidden id="img1load0"> <%=data.image1data.img10k %>  </p>
                                                <p hidden id="img1load1"> <%=data.image1data.img11k %>  </p>
                                                <p hidden id="img1load2"> <%=data.image1data.img12k %>  </p>
                                                <p hidden id="img1load3"> <%=data.image1data.img13k %>  </p>
                                                <p hidden id="img1load4"> <%=data.image1data.img14k %>  </p>
                                                <p hidden id="img1load5"> <%=data.image1data.img15k %>  </p>
                                                <p hidden id="img1load6"> <%=data.image1data.img16k %>  </p>
                                                
						<p>Lorem Ipsum is simply dummy text of the printing 
							and typesetting industry. Lorem Ipsum has been 
							the industry's standard dummy text ever since 
							the 1500s, when an unknown printer took a galley 
							of type and scrambled it to make a type specimen 
							book. It has survived not only five centuries, 
							but also the leap into electronic typesetting, 
							remaining essentially unchanged. It was 
							popularised in the 1960s with the release of 
							Letraset sheets containing Lorem Ipsum passages, 
							and more recently with desktop publishing software 
							like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
					</div>
				</div>
				<div class="col-sm">
					<canvas id="image1" width="400" height="400"></canvas>
				</div>
			</div>
		</div>		

		<div class="container">                                            
                        <div class="row">                                          
                                <div class="col-sm">                               
                                        <div class="card">                         
                                                <h2>Image 2</h2>                
                                                <p>Lorem Ipsum is simply dummy text of the printing 
                                                        and typesetting industry. Lorem Ipsum has been 
                                                        the industry's standard dummy text ever since 
                                                        the 1500s, when an unknown printer took a galley 
                                                        of type and scrambled it to make a type specimen 
                                                        book. It has survived not only five centuries, 
                                                        but also the leap into electronic typesetting, 
                                                        remaining essentially unchanged. It was 
                                                        popularised in the 1960s with the release of  
                                                        Letraset sheets containing Lorem Ipsum passages, 
                                                        and more recently with desktop publishing software 
                                                        like Aldus PageMaker including versions of Lorem Ipsum.
                                                </p>                               
                                        </div>                                     
                                </div>                                             
                                <div class="col-sm">                               
                                        <canvas id="image2" width="400" height="400"></canvas>
                                </div>                                             
                        </div>                                                     
                </div>

		<div class="container">                                            
                        <div class="row">                                          
                                <div class="col-sm">                               
                                        <div class="card">                         
                                                <h2>Image 3</h2>          
                                                <p>Lorem Ipsum is simply dummy text of the printing 
                                                        and typesetting industry. Lorem Ipsum has been 
                                                        the industry's standard dummy text ever since 
                                                        the 1500s, when an unknown printer took a galley 
                                                        of type and scrambled it to make a type specimen 
                                                        book. It has survived not only five centuries, 
                                                        but also the leap into electronic typesetting, 
                                                        remaining essentially unchanged. It was 
                                                        popularised in the 1960s with the release of  
                                                        Letraset sheets containing Lorem Ipsum passages, 
                                                        and more recently with desktop publishing software 
                                                        like Aldus PageMaker including versions of Lorem Ipsum.
                                                </p>                               
                                        </div>                                     
                                </div>                                             
                                <div class="col-sm">                               
                                        <canvas id="image3" width="400" height="400"></canvas>
                                </div>                                             
                        </div>                                                     
                </div>


		<div class="container">
                        <div class="row">
                                <div class="col-sm">
                                        <div class="card">
                                                <h2>Random Load Total</h2>
                                                <p>Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry. Lorem Ipsum has been
                                                        the industry's standard dummy text ever since
                                                        the 1500s, when an unknown printer took a galley
                                                        of type and scrambled it to make a type specimen
                                                        book. It has survived not only five centuries,
                                                        but also the leap into electronic typesetting,
                                                        remaining essentially unchanged. It was
                                                        popularised in the 1960s with the release of
                                                        Letraset sheets containing Lorem Ipsum passages,
                                                        and more recently with desktop publishing software
                                                        like Aldus PageMaker including versions of Lorem Ipsum.
                                                </p>
                                        </div>
                                </div>
                                <div class="col-sm">
                                        <canvas id="totalrandom" width="400" height="400"></canvas>
                                </div>
                        </div>
                </div>
		<div class="container">
                        <div class="row">
                                <div class="col-sm">
                                        <div class="card">
                                                <h2>Slow Load Total</h2>
                                                <p>Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry. Lorem Ipsum has been
                                                        the industry's standard dummy text ever since
                                                        the 1500s, when an unknown printer took a galley
                                                        of type and scrambled it to make a type specimen
                                                        book. It has survived not only five centuries,
                                                        but also the leap into electronic typesetting,
                                                        remaining essentially unchanged. It was
                                                        popularised in the 1960s with the release of
                                                        Letraset sheets containing Lorem Ipsum passages,
                                                        and more recently with desktop publishing software
                                                        like Aldus PageMaker including versions of Lorem Ipsum.
                                                </p>
                                        </div>
                                </div>
                                <div class="col-sm">
                                        <canvas id="totalslow" width="400" height="400"></canvas>
                                </div>
                        </div>
                </div>

	</div>

	<!-- <h1>Big Droplet Energy &#x1F4A6</h1>
	<h3>Tim Ferido (tferido@ucsd.edu)</h2>
	<h3>Sumeet Bansal (s3bansal@ucsd.edu)</h2> -->
</body>
<script>
        
		
	var img1load0 = parseInt(document.getElementById("img1load0").innerText);
	var img1load1 = parseInt(document.getElementById("img1load1").innerText);
        var img1load2 = parseInt(document.getElementById("img1load2").innerText);
        var img1load3 = parseInt(document.getElementById("img1load3").innerText);
        var img1load4 = parseInt(document.getElementById("img1load4").innerText);
        var img1load5 = parseInt(document.getElementById("img1load5").innerText);
        var img1load6 = parseInt(document.getElementById("img1load6").innerText);

	var ctx = document.getElementById("image1");
        
	var myChart = new Chart(ctx, {                                                     
        type: 'bar',                                                               
        data: {                                                                          
                labels: ['< 1000','< 2000','< 3000', '< 4000', '< 5000', '< 6000', '< 7000'],
                datasets: [{                                                                   
                        label: "Load Time",                                           
                        data: [img1load0,img1load1,img1load2,img1load3,img1load4,img1load5,img1load6],
                        borderColor: "#3e95cd",                                                    
                        fill: false,      
			xAxis: 'load times',
			yAxis: 'count'
                }]                                                                              
        },                                                                               
        options: {                                                                       
                title: {                                                                       
                display: true,                                                               
                text: 'Access per month'                                           
                },
		scales: {
                                xAxes: [{
				barPercentage: 0.5,
                                barThickness: 6,
                                maxBarThickness: 8,
                                minBarLength: 2,
                                gridLines: {
                                        offsetGridLines: true
                                }
                                }]
                }
        }                                                                          
        });


	
/*
	var ctx = document.getElementById("image1");    
	
	var img1load0 = parseInt(document.getElementById("img1load0").innerText);
        var img1load1 = parseInt(document.getElementById("img1load1").innerText);
        var img1load2 = parseInt(document.getElementById("img1load2").innerText);
        var img1load3 = parseInt(document.getElementById("img1load3").innerText);
        var img1load4 = parseInt(document.getElementById("img1load4").innerText);
        var img1load5 = parseInt(document.getElementById("img1load5").innerText);
        var img1load6 = parseInt(document.getElementById("img1load6").innerText);


	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ['< 1000','< 2000','< 3000', '< 4000', '< 5000', '< 6000', '< 7000'],
			datasets: [{
				label: "Load Time"
				data: [img1load0,img1load1,img1load2,img1load3,img1load4,img1load5,img1load6],
				borderColor: '#3e95cd',
                                fill:false,
                                //xAxisID: 'load times',
                                //yAxisID: 'count'
                        }]
		},
		
		options: {
                     title: {                                                                       
                	display: true,                                                               
                	text: 'Access per month'                                           
                },
		     scales: {
                                xAxes: [{
                                barPercentage: 0.5,
                                barThickness: 6,
                                maxBarThickness: 8,
                                minBarLength: 2,
                                gridLines: {
                                        offsetGridLines: true
                                }
                                }]
                        }
		}
	});
*/
/*
	var ctx = document.getElementById("image2");                               
        var myChart = new Chart(ctx, {                                             
                type: 'line',                                                      
                data: {                                                            
                        labels: [0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000],
                        datasets: [{                                               
                                data: [10,1000,2000,3000,2500,2300,2000,1500,500, 400, 300],
                                borderColor: ['rgba(255,99,132,1)'],               
                                fill:false                                         
                        }]                                                         
                },                                                                 
                // options: {                                                         
                //         startAngle: 0,                                             
                //         animation: {                                               
                //                 animateRotate: true,                               
                //                 animateScale: true                                 
                //         }                                                          
                // }                                                                  
        });   	

var ctx = document.getElementById("image3");                               
        var myChart = new Chart(ctx, {                                             
                type: 'line',                                                      
                data: {                                                            
                        labels: [0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000],
                        datasets: [{                                               
                                data: [10,1000,2000,3000,2500,2300,2000,1500,500, 400, 300],
                                borderColor: ['rgba(255,99,132,1)'],               
                                fill:false                                         
                        }]                                                         
                },                                                                 
                // options: {                                                         
                //         startAngle: 0,                                             
                //         animation: {                                               
                //                 animateRotate: true,                               
                //                 animateScale: true                                 
                //         }                                                          
                // }                                                                  
        });   

var ctx = document.getElementById("totalrandom");                               
        var myChart = new Chart(ctx, {                                             
                type: 'line',                                                      
                data: {                                                            
                        labels: [0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000],
                        datasets: [{                                               
                                data: [10,1000,2000,3000,2500,2300,2000,1500,500, 400, 300],
                                borderColor: ['rgba(255,99,132,1)'],               
                                fill:false                                         
                        }]                                                         
                },                                                                 
                // options: {                                                         
                //         startAngle: 0,                                             
                //         animation: {                                               
                //                 animateRotate: true,                               
                //                 animateScale: true                                 
                //         }                                                          
                // }                                                                  
        });   

var ctx = document.getElementById("totalslow");                               
        var myChart = new Chart(ctx, {                                             
                type: 'line',                                                      
                data: {                                                            
                        labels: [0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000],
                        datasets: [{                                               
                                data: [10,1000,2000,3000,2500,2300,2000,1500,500, 400, 300],
                                borderColor: ['rgba(255,99,132,1)'],               
                                fill:false                                         
                        }]                                                         
                },                                                                 
                // options: {                                                         
                //         startAngle: 0,                                             
                //         animation: {                                               
                //                 animateRotate: true,                               
                //                 animateScale: true                                 
                //         }                                                          
                // }                                                                  
        });   



/*
	var ctx1 = document.getElementById("browser");
        var myChart = new Chart(ctx1, {
                type: 'pie',
                data: {
                        datasets: [{
                                data: [234, 1349, 639, 9],
                                backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                        }],

                        labels: [
                                'Mozilla',
                                'Chrome',
				'Safari',
				'Explorer'
                        ]
                },
                options: {
                        startAngle: 0,
                        animation: {
                                animateRotate: true,
                                animateScale: true
                        }
                }
        });


	var ctx2 = document.getElementById("month");                               
	var myChart = new Chart(ctx2, {                                                     
    	type: 'line',                                                               
  	data: {                                                                          
    		labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October","November", "December"],
    		datasets: [{                                                                   
        		label: "Access",
			data: [1000,3000,4000,5000,3500,1000,500,600,900,1200,900,2000],
        		borderColor: "#3e95cd",                                                    
        		fill: false                                                                 
      		}]                                                                              
  	},                                                                               
  	options: {                                                                       
    		title: {                                                                       
      		display: true,                                                               
      		text: 'Access per month'                            
    		},                                                                             
  	}                         
	});	

	var ctx3 = document.getElementById("day");                               
        var myChart = new Chart(ctx3, {                                                     
        type: 'line',                                                               
        data: {                                                                          
                labels:["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], 
                datasets: [{                                                                   
                        label: "Access",                                           
                        data:[100,300,200,900,1200,1900,200],
                        borderColor: "#3e95cd",                                                    
                        fill: false                                                                 
                }]                                                                              
        },                                                                               
        options: {                                                                       
                title: {                                                                       
                display: true,                                                               
                text: 'Access per day'                                           
                },                                                                             
        }                                                                          
        });
*/

	</script>
</html>

